[Unit]
Description=Fastapi gunicorn fast api service starter (Linux System)
After=network.target

[Service]
User=<your_user>
Group=<your_user>
WorkingDirectory=<path_to_dir>
Environment="PATH=<path_to_env_file>"
ExecStart=<path_to_venv_bin> gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0

[Install]
WantedBy=multi-user.target